<h2 class="title">ברכת לבנה - נוסח תימן</h2>

<p class="title">
עומדים הקהל בחוץ מול הלבנה, ואומר הש"צ בקול רם:
</p>

<p>
  תַּנָא דְּבֵי רִבִּי יִשְׁמָעֵאל: אִלְמַלֵא לֹא זָכוּ יִשְׂרָאֵל, אֵלָא לְהַקְבִּיל פְּנֵי אֲבִיהֶם שֶׁבַּשָּׁמַיִם פַּעַם אַחַת בַּחֹדֶשׁ דַּיָּם. אֲמַר אַבַּיֵי: הִלְכָּךְ מֵעוֹמֵד:
</p>

<p>
  בָּרוּךְ אַתָּה יְהוָֹה אֱלֹהֵינוּ מֶלֶךְ הָעוֹלָם, אֲשֶׁר בְּמַאֲמָרוֹ בָּרָא שְׁחָקִים, וּבְרוּחַ פִּיו כָּל צְבָאָם, חֹק וּזְמָן נָתַן לָהֶם שֶׁלֹּא יְשַׁנּוּ אֶת תַּפְקִידָתָם, שָׂשִׂים וּשְׂמֵחִים לַעֲשׂוֹת רְצוֹן קוֹנֵהֶם, פּוֹעֲלי אֱמֶת, שֶׁפְּעֻלָּתָן אֱמֶת. וְלַלְּבָנָה אָמַר שֶׁתִּתְחַדֵּשׁ, עֲטֶרֶת תִּפְאֶרֶת לַעֲמוּסֵי בֶטֶן שֶׁהֵם (נ"א שְׁהֶם) עֲתִידִים לְהִתְחַדֵּשׁ כְּמוֹתָהּ, וּלְפָאֵר לְיוֹצְרָם עַל כְּבוֹד מַלְכוּתוֹ: בָּרוּךְ אַתָּה יְהוָֹה, מְחַדֵּשׁ חֳדָשִׁים: אמן
</p>

<p class="title">
מכאן אומרים הקהל עם הש"צ עד "עליהם תפל" ג' פעמים:
</p>

<p>סִימָן טוֹב, תְּהֶא לָנוּ וּלְכָל יִשְׂרָאֵל:</p>
<p>סִימָן טוֹב, תְּהֶא לָנוּ וּלְכָל יִשְׂרָאֵל:</p>
<p>סִימָן טוֹב, תְּהֶא לָנוּ וּלְכָל יִשְׂרָאֵל:</p>

<p class="title">
  כשאומרים "ברוך יוצריך וכו' " מרקדים לפני הלבנה:
</p>

<p>
  בָּרוּךְ יוֹצְרִיךְ, בָּרוּךְ עוֹשִׂיךְ, בָּרוּךְ קוֹנִיךְ, בָּרוּךְ בּוֹרְאִיךְ: כְּשֵׁם שֶׁאָנוּ מְרַקְּדִים כְּנֶגְדִּיךְ, וְאֵין אָנוּ יְכוּלִים לִגַּע בִּיךְ. כָּךְ, אִם יְרַקְּדוּ אֲחֵרִים כְּנֶגְדֵּנוּ לְהַזִּיקֵנוּ, לֹא יוּכְלוּ לִגַּע בָּנוּ. תִּפֹּל עֲלֵיהֶם אֵימָתָה וָפַחַד, בִּגְדֹל זְרוֹעֲךָ יִדְּמוּ כָּאָבֶן: כָּאָבֶן יִדְּמוּ, זְרוֹעֲךָ בִּגְדֹל וָפַחַד, אֵימָתָה עֲלֵיהֶם תִּפֹּל:
</p>

<p>דָּוִד מֶלֶךְ יִשרָאֵל חַי וְקַיָּם:</p>
<p>דָּוִד מֶלֶךְ יִשרָאֵל חַי וְקַיָּם:</p>
<p>דָּוִד מֶלֶךְ יִשרָאֵל חַי וְקַיָּם:</p>

<p>
  אָמֵן אָמֵן אָמֵן: סֶלָה סֶלָה סֶלָה:לֵב טָהוֹר בְּרָא לִי אֱלֹהִים וְרוּחַ נָכוֹן חַדֵּשׁ בְּקִרְבִּי:
</p>

<p>שִׁיר לַמַּעֲלוֹת אֶשָּׂא עֵינַי אֶל הֶהָרִים מֵאַיִן יָבֹא עֶזְרִי: עֶזְרִי מֵעִם יְהֹוָה עֹשֵׂה שָׁמַיִם
  וָאָרֶץ: אַל יִתֵּן לַמּוֹט רַגְלֶךָ אַל יָנוּם שֹׁמְרֶךָ: הִנֵּה לֹא יָנוּם וְלֹא יִישָׁן שׁוֹמֵר
  יִשְׂרָאֵל: יְהֹוָה שֹׁמְרֶךָ יְהֹוָה צִלְּךָ עַל יַד יְמִינֶךָ: יוֹמָם הַשֶּׁמֶשׁ לֹא יַכֶּכָּה וְיָרֵחַ
  בַּלָּיְלָה: יְהֹוָה יִשְׁמָרְךָ מִכָּל רָע יִשְׁמֹר אֶת נַפְשֶׁךָ: יְהֹוָה יִשְׁמָר צֵאתְךָ וּבוֹאֶךָ
  מֵעַתָּה וְעַד עוֹלָם:</p>

<p>הַלְלוּיָהּ הַלְלוּ אֵל בְּקָדְשׁוֹ הַלְלוּהוּ בִּרְקִיעַ עֻזּוֹ: הַלְלוּהוּ בִגְבוּרֹתָיו הַלְלוּהוּ כְּרֹב
  גֻּדְלוֹ: הַלְלוּהוּ בְּתֵקַע שׁוֹפָר הַלְלוּהוּ בְּנֵבֶל וְכִנּוֹר: הַלְלוּהוּ בְתֹף וּמָחוֹל הַלְלוּהוּ
  בְּמִנִּים וְעוּגָב: הַלְלוּהוּ בְצִלְצְלֵי שָׁמַע הַלְלוּהוּ בְּצִלְצְלֵי תְרוּעָה: כֹּל הַנְּשָׁמָה
  תְּהַלֵּל יָהּ הַלְלוּיָהּ:</p>

<p>
  קול דּודִי הִנֵּה זֶה בָּא מְדַלֵּג עַל הֶהָרִים מְקַפֵּץ עַל הַגְּבָעות דּומֶה דודִי לִצְבִי או לְעפֶר הָאַיָּלִים הִנֵּה זֶה עומֵד אַחַר כָּתְלֵנוּ מַשְׁגִּיחַ מִן הַחַלּונות מֵצִיץ מִן הַחֲרַכִּים:
</p>

<p>
  רִבִּי חֲנַנְיָא בֶּן עֲקַשְׁיָא אוֹמֵר: רָצָה הַקָּדוֹשׁ בָּרוּךְ הוּא לְזַכּוֹת אֶת יִשְׂרָאֵל לְפִיכָּךְ הִרְבָּה לָהֶם תּוֹרָה וּמִצְוֹת, שֶׁנֶּאֱמָר: י-ה-ו-ה  חָפֵץ לְמַעַן צִדְקוֹ יַגְדִּיל תּוֹרָה וְיַאְדִּיר:
</p>

<p class="title">
קדיש דעתיד
</p>

<p>
  יִתְגַּדַּל וְיִתְקַדַּשׁ שְׁמֵיהּ רַבָּא: (אָמֵן)
</p>
<p>
   דַּעֲתִיד לְחַדָּתָא עָלְמָא וּלְאַחָאָה מִיתַיָּא וּלְמִפְרַק חַיַיָּא וּלְמִבְנֵי קַרְתָּא יְרוּשְׁלַם וּלְשַׁכְלָלָא הֵיכְלָא קַדִּישָׁא וּלְמִעְקַר פּוּלְחָנָא נוּכְרָאָה מִן אַרְעָא וּלְאָתָבָא פוּלְחָנָא דִּי שְׁמֵיהּ לְאַתְרֵיהּ בְּהַדְרֵיהּ בְּזִיוֵיהּ וּבִיקָרֵיהּ. וְיִמְלוֹךְ מַלְכוּתֵיהּ וְיַצְמַח פּרְקָנֵיהּ וִיקָרֵב מְשִׁיחֵיהּ וְיִפְרוֹק עַמֵּיהּ. בְּחַיֵּיכוֹן וּבְיוֹמֵיכוֹן וּבְחַיֵּיהוֹן דְּכֹל בֵּית יִשְֹרָאֵל בַּעֲגַלָא וּבִזְמָן קָרִיב וְאִמְרוּ אָמֵן:
  (אָמֵן)
</p>
<p>
   יְהֶא שְׁמֵיהּ רַבָּא מְבָרַךְ לְעָלַם וּלְעָלְמֵי עָלְמַיָּא: יִתְבָּרַךְ : (אָמֵן)
</p>

<p>
  וְיִשְׁתַּבַּח וְיִתְפָּאַר וְיִתְרוֹמַם וְיִתְעַלֶּה וְיִתְהַדַּר וְיִתְהַלַּל וְיִתְנַשֵּׂא שְׁמֵיהּ דְּקֻדְשָׁא בְּרִיךְ הוּא: (אָמֵן)
</p>

<p>
  לְעֵילָא לְעֵילָא מִכָּל בִּרְכָתָא שִׁירָתָא וְתֻשְׁבְּחָתָא וְנֶחָמָתָא דַּאֲמִירָן (וי"ג: דִּי אֲמִירָן) בְּעָלְמָא וְאִמְרוּ אָמֵן: (אָמֵן)
</p>

<p>
  עַל יִשְׂרָאֵל וְעַל רְבָּנַן וְעַל תַּלְמִידֵיהוֹן וְעַל כָּל תַּלְמִידֵי תַּלְמִידֵיהוֹן דְּעָסְקִין בְּאוֹרָיְתָא (קַדִּישְׁתָא) דִּי בְאַתְרָא הָדֵין וְדִי בְכָל אֲתַר וְאֲתַר יְהֵא לְהוֹן וְלַנָא חִנָּא וְחִסְדָּא וְרַחֲמֵי מִן קֳדָם אֲבוּנָא דְּבִשְׁמַיָּא וְאִמְרוּ אָמֵן: (אָמֵן):
</p>

<p>
  יְהֶא שְׁלָמָא רַבָּא מִן שְׁמַיָּא וְסִיַּעְתָּא וּפוּרְקָנָא וּרְוַחָא וְחִנָּא וְחִסְדָּא  וְרַחֲמֵי  עֲלֵיכוֹן  וְעֲלַנָא  וְעַל  כָּל  קְהָלְהוֹן דְּכָל  בֵּית  יִשְׂרָאֵל  לְחַיִּים  וּלְשָׁלוֹם  וְאִמְרוּ אָמֵן:
  (אָמֵן)
</p>

<p class="title">
  ציבור וש"צ עמהם:
</p>
<p>
  עוֹשֶׂה שָׁלוֹם בִּמְרוֹמָיו הוּא בְּרַחֲמָיו וְחֲסָדָיו יַעֲשֶׂה שָׁלוֹם עָלֵינוּ וְעַל כָּל יִשְׂרָאֵל, וִינַחֲמֵנוּ בְצִיּוֹן וְיִבְנֶה בְרַחֲמָיו אֶת יְרוּשָלָיִם בְּחַיֵּינוּ וּבְיָמֵינוּ בְּקָרוֹב אָמֵן וְאָמֵן:
</p>


<p class="title">
ואומרים ג' פעמים:
</p>

<p>שָׁלוֹם עֲלֵיכֶם.</p>
<p>שָׁלוֹם עֲלֵיכֶם.</p>
<p>שָׁלוֹם עֲלֵיכֶם.</p>


