<h2 class="title">קידוש לבנה - נוסח ספרד</h2>

<p class="title">
עיקר קידוש הלבנה עפ"י הארי ז"ל משיעברו עליה שבעת ימים מהמולד מעת לעת, ומיום השמיני והלאה הוא קידוש הלבנה, ויקדש בבגדים נאים ובשמחה, כי הוא קבלת פני השכינה הק', ורגליהם רגל ישרה ולצד מזרח דווקא, וכשמגיע לברוך יוצרך, כשם שאני רוקד וכו' אזי יהפוך פניו נגד הלבנה:
</p>

<p>
הַלְלוּיָהּ הַלְלוּ אֶת ה' מִן הַשָּׁמַיִם הַלְלוּהוּ בַּמְרומִים: הַלְלוּהוּ כָּל מַלְאָכָיו הַלְלוּהוּ כָּל צְבָאָיו: הַלְלוּהוּ
שֶׁמֶשׁ וְיָרֵחַ הַלְלוּהוּ כָּל כּוכְבֵי אור: הַלְלוּהוּ שְׁמֵי הַשָּׁמָיִם וְהַמַּיִם אֲשֶׁר מֵעַל הַשָּׁמָיִם: יְהַלְלוּ אֶת שֵׁם
ה' כִּי הוּא צִוָּה וְנִבְרָאוּ: וַיַּעֲמִידֵם לָעַד לְעולָם חָק נָתַן וְלא יַעֲבור:
</p>

<p>
הֲרֵינִי מוּכָן וּמְזוּמָן לְקַיֵּם הַמִצְוָה לְקַדֵּשׁ הַלְּבָנָה. לְשֵׁם יִחוּד קוּדְשָׁא בְּרִיךְ הוּא וּשְׁכִינְתֵּיהּ עַל יְדֵי הַהוּא טָמִיר
וְנֶעְלָם בְּשֵׁם כָּל יִשְׂרָאֵל.
</p>

<p class="title">
    ישים פניו למזרח ויישר רגליו ויראה ראיה אחת בפני הלבנה קודם שיתחיל לברך ואח"כ לא יביט בה כלל:
</p>

<p>
בָּרוּךְ אַתָּה ה' אֱלהֵינוּ מֶלֶךְ הָעולָם. אֲשֶׁר בְּמַאֲמָרו בָּרָא שְׁחָקִים. וּבְרוּחַ פִּיו כָּל צְבָאָם. חק וּזְמַן נָתַן לָהֶם שֶׁלּא יְשַׁנּוּ אֶת תַּפְקִידָם. ששים וּשמֵחִים לַעֲשות רְצון קונָם. פּועֵל אֱמֶת שֶׁפְּעֻלָּתו אֱמֶת. וְלַלְּבָנָה אָמַר שֶׁתִּתְחַדֵּשׁ. עֲטֶרֶת תִּפְאֶרֶת לַעֲמוּסֵי בָטֶן שֶׁהֵם עֲתִידִים לְהִתְחַדֵּשׁ כְּמותָהּ. וּלְפָאֵר לְיוצְרָם עַל שֵׁם כְּבוד מַלְכוּתו:
בָּרוּךְ אַתָּה ה' מְחַדֵּשׁ חֳדָשִׁים:
</p>

<p>בָּרוּךְ יוצְרֵךְ בָּרוּךְ עושֵׂךְ בָּרוּךְ קונֵךְ בָּרוּךְ בּורְאֵךְ:</p>
<p>בָּרוּךְ יוצְרֵךְ בָּרוּךְ עושֵׂךְ בָּרוּךְ קונֵךְ בָּרוּךְ בּורְאֵךְ:</p>
<p>בָּרוּךְ יוצְרֵךְ בָּרוּךְ עושֵׂךְ בָּרוּךְ קונֵךְ בָּרוּךְ בּורְאֵךְ:</p>

<p class="title">ורוקד ג' פעמים ואומר</p>
<p>
    כְּשֵׁם שֶׁאֲנִי רוֹקֵד כְּנֶגְדֵּךְ וְאֵינִי יָכוֹל לִנְגוֹעַ בָּךְ כַּךְ לֹא יוּכְלוּ כָּל אוֹיְבַי
    לִנְגוֹעַ בִּי לְרָעָה:
</p>
<p>
    כְּשֵׁם שֶׁאֲנִי רוֹקֵד כְּנֶגְדֵּךְ וְאֵינִי יָכוֹל לִנְגוֹעַ בָּךְ כַּךְ לֹא יוּכְלוּ כָּל אוֹיְבַי
    לִנְגוֹעַ בִּי לְרָעָה:
</p>
<p>
    כְּשֵׁם שֶׁאֲנִי רוֹקֵד כְּנֶגְדֵּךְ וְאֵינִי יָכוֹל לִנְגוֹעַ בָּךְ כַּךְ לֹא יוּכְלוּ כָּל אוֹיְבַי
    לִנְגוֹעַ בִּי לְרָעָה:
</p>


<p>תִּפֹּל עֲלֵיהֶם אֵימָתָה וָפַחַד בִּגְדֹל זְרוֹעֲךָ יִדְּמוּ כָּאָבֶן:</p>
<p>תִּפֹּל עֲלֵיהֶם אֵימָתָה וָפַחַד בִּגְדֹל זְרוֹעֲךָ יִדְּמוּ כָּאָבֶן:</p>
<p>תִּפֹּל עֲלֵיהֶם אֵימָתָה וָפַחַד בִּגְדֹל זְרוֹעֲךָ יִדְּמוּ כָּאָבֶן:</p>

<p> כָּאָבֶן יִדְּמוּ זְרוֹעֲךָ בִּגְדֹל וָפַחַד אֵימָתָה עֲלֵיהֶם תִּפֹּל:</p>
<p> כָּאָבֶן יִדְּמוּ זְרוֹעֲךָ בִּגְדֹל וָפַחַד אֵימָתָה עֲלֵיהֶם תִּפֹּל:</p>
<p> כָּאָבֶן יִדְּמוּ זְרוֹעֲךָ בִּגְדֹל וָפַחַד אֵימָתָה עֲלֵיהֶם תִּפֹּל:</p>

<p>דָּוִד מֶלֶךְ יִשְׂרָאֵל חַי וְקַיָּם:</p>
<p>דָּוִד מֶלֶךְ יִשְׂרָאֵל חַי וְקַיָּם:</p>
<p>דָּוִד מֶלֶךְ יִשְׂרָאֵל חַי וְקַיָּם:</p>


<p class="title">ואומר לחבירו ג' פעמים</p>
<p>שָׁלוֹם עֲלֵיכֶם:</p>

<p class="title">וחבירו משיב ג' פעמים</p>
<p>עֲלֵיכֶם שָׁלוֹם:</p>

<p>סִמָּן טוֹב וּמַזָּל טוֹב יְהֵא לָנוּ וּלְכָל יִשְׂרָאֵל אָמֵן:</p>
<p>סִמָּן טוֹב וּמַזָּל טוֹב יְהֵא לָנוּ וּלְכָל יִשְׂרָאֵל אָמֵן:</p>
<p>סִמָּן טוֹב וּמַזָּל טוֹב יְהֵא לָנוּ וּלְכָל יִשְׂרָאֵל אָמֵן:</p>

<p>קוֹל דּוֹדִי הִנֵּה זֶה בָּא מְדַלֵּג עַל הֶהָרִים מְקַפֵּץ עַל הַגְּבָעוֹת דּוֹמֶה דוֹדִי לִצְבִי אוֹ
    לְעֹפֶר הָאַיָּלִים הִנֵּה זֶה עוֹמֵד אַחַר כָּתְלֵנוּ מַשְׁגִּיחַ מִן הַחַלּוֹנוֹת מֵצִיץ מִן
    הַחֲרַכִּים:
</p>

<p>שִׁיר לַמַּעֲלוֹת אֶשָּׂא עֵינַי אֶל הֶהָרִים מֵאַיִן יָבֹא עֶזְרִי: עֶזְרִי מֵעִם יְהֹוָה עֹשֵׂה שָׁמַיִם
    וָאָרֶץ: אַל יִתֵּן לַמּוֹט רַגְלֶךָ אַל יָנוּם שֹׁמְרֶךָ: הִנֵּה לֹא יָנוּם וְלֹא יִישָׁן שׁוֹמֵר
    יִשְׂרָאֵל: יְהֹוָה שֹׁמְרֶךָ יְהֹוָה צִלְּךָ עַל יַד יְמִינֶךָ: יוֹמָם הַשֶּׁמֶשׁ לֹא יַכֶּכָּה וְיָרֵחַ
    בַּלָּיְלָה: יְהֹוָה יִשְׁמָרְךָ מִכָּל רָע יִשְׁמֹר אֶת נַפְשֶׁךָ: יְהֹוָה יִשְׁמָר צֵאתְךָ וּבוֹאֶךָ
    מֵעַתָּה וְעַד עוֹלָם:</p>

<p>הַלְלוּיָהּ הַלְלוּ אֵל בְּקָדְשׁוֹ הַלְלוּהוּ בִּרְקִיעַ עֻזּוֹ: הַלְלוּהוּ בִגְבוּרֹתָיו הַלְלוּהוּ כְּרֹב
    גֻּדְלוֹ: הַלְלוּהוּ בְּתֵקַע שׁוֹפָר הַלְלוּהוּ בְּנֵבֶל וְכִנּוֹר: הַלְלוּהוּ בְתֹף וּמָחוֹל הַלְלוּהוּ
    בְּמִנִּים וְעוּגָב: הַלְלוּהוּ בְצִלְצְלֵי שָׁמַע הַלְלוּהוּ בְּצִלְצְלֵי תְרוּעָה: כֹּל הַנְּשָׁמָה
    תְּהַלֵּל יָהּ הַלְלוּיָהּ:</p>

<p>תָּנָא דְבֵי רַבִּי יִשְׁמָעֵאל אִלְמָלֵי לֹא זָכוּ יִשְׂרָאֵל אֶלָּא לְהַקְבִּיל פְּנֵי אֲבִיהֶם
    שֶׁבַּשָׁמַיִם פַּעַם אַחַת בַּחֹדֶשׁ דַּיָם. אָמַר אַבַּיֵי הִלְכָּךְ צָרִיךְ לְמֵימְרָא מְעוּמָד: מִי זֹאת
    עולָה מִן הַמִּדְבָּר מִתְרַפֶּקֶת עַל דּוֹדָהּ: וִיהִי רָצוֹן מִלְּפָנֶיךָ יְהֹוָה אֱלֹהַי וֵאלֹהֵי
    אֲבוֹתַי לְמַלֹּאת פְּגִימַת הַלְּבָנָה וְלֹא יִהְיֶה בָּהּ שׁוּם מִעוּט. וִיהִי אוֹר הַלְּבָנָה כְּאוֹר
    הַחַמָּה וּכְאוֹר שִׁבְעַת יְמֵי בְרֵאשִׁית כְּמוֹ שֶׁהָיְתָה קוֹדֶם מִעוּטָהּ. שֶׁנֶּאֱמַר אֶת שְׁנֵי
    הַמְּאֹרוֹת הַגְּדוֹלִים: וְיִתְקַיֶם בָּנוּ מִקְרָא שֶׁכָּתוּב וּבִקְשׁוּ אֶת יְהֹוָה אֱלֹהֵיהֶם וְאֵת
    דָּוִיד מַלְכָּם. אָמֵן:</p>


<p>לַמְנַצֵּחַ בִּנְגִינֹת מִזְמוֹר שִׁיר: אֱלֹהִים יְחָנֵּנוּ וִיבָרְכֵנוּ יָאֵר פָּנָיו אִתָּנוּ סֶלָה:
    לָדַעַת בָּאָרֶץ דַּרְכֶּךָ בְּכָל גּוֹיִם יְשׁוּעָתֶךָ: יוֹדוּךָ עַמִּים אֱלֹהִים יוֹדוּךָ עַמִּים כֻּלָּם:
    יִשְׂמְחוּ וִירַנְּנוּ לְאֻמִּים כִּי תִשְׁפֹּט עַמִּים מִישׁוֹר וּלְאֻמִּים בָּאָרֶץ תַּנְחֵם סֶלָה:
    יוֹדוּךָ עַמִּים אֱלֹהִים יוֹדוּךָ עַמִּים כֻּלָּם: אֶרֶץ נָתְנָה יְבוּלָהּ יְבָרְכֵנוּ אֱלֹהִים אֱלֹהֵינוּ:
    יְבָרְכֵנוּ אֱלֹהִים וְיִירְאוֹ אֹתוֹ כָּל אַפְסֵי אָרֶץ:</p>




