ion-title {
  padding-inline-end: 10px;
}
.title {
  display: flex;
  justify-content: space-between;
  font-size: x-large;

  &__text {
    display: flex;
    align-items: center;
    font-size: 4vh;
  }

  &__icons {
    display: flex;
    align-items: center;
  }

  &__share {
    margin: 0 3vw;
  }

  &__share:active,
  &__open_store:active {
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
    background-color: #bfcad5 !important;
  }
}
