ion-toolbar{

  ion-title {

    .title {
      display: flex;
      justify-content: space-between;
      font-size: x-large;

      &__text {
        display: flex;
        align-items: center;
      }

      &__icons {
        display: flex;
        align-items: center;
      }

      &__share {
        margin: 0 3vw;
        display: flex;
      }

      &__open_store {
        display: flex;
      }

      &__share:active,
      &__open_store:active {
        box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
        background-color: #bfcad5 !important;
      }
    }
  }
}


ion-content {
  .bircat-levana-nusach {
    direction: rtl;
  }

  .button-wrapper {
    display: flex;
    justify-content: center;

    ion-button {
      margin-bottom: 10px;
      --background: var(--blue-color);
      font-size: large;

      ion-icon {
        --ion-color-base: white !important;
        font-size: x-large;
      }
    }
  }
}


